.RecruiterAnalytics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-header {
    h4 {
      color: #c100d1;
      margin: 0;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;
  }

  &-table {
    table {
      border-spacing: 0;
      border: 1px solid #000000;

      tr {
        th {
          font-size: 12px;
          font-family: 'Nunito', sans-serif;
          font-weight: bold;
          color: #000000;
          padding: 15px 50px;
          text-align: center;
          border: 1px solid #000000;
        }

        td {
          font-size: 12px;
          font-family: 'Nunito', sans-serif;
          color: #000000;
          padding: 15px 50px;
          text-align: center;
          border: 1px solid #000000;

          a {
            color: #006eff;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}
